body {
    font-family: "Times New Roman", Times, serif;
    display: block;
    margin: 8px;
}

h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h3 {
    display: block;
    font-size: 1.25em;
    margin-top: 1em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

p {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}

li {
    display: block;
    margin: -8px 0 -8px 0;
}

ul {
    list-style-type: disc;
    display: block;
    margin-left: 1.5em;
  }
  
ul ul {
    list-style-type: circle;
    display: block;
    margin-top: -8px;
    margin-bottom: -8px;
}
  
ul ul ul {
    list-style-type: square;
    display: block;
    margin-top: -8px;
    margin-bottom: -8px;
}

table, td {
    display: block;
    padding-top: 2pt;

    border-top-color: black;
    border-top-style: solid;
    border-top-width: 1px;

    border-bottom-style: solid;
    border-bottom-color: #000;
    border-bottom-width: 1px;

    border-left-style: solid;
    border-left-color: #000;
    border-left-width: 1px;

    border-right-style: solid;
    border-right-color: #000;
    border-right-width: 1px;
}

th, b {
    font-weight: bold;
}

u {
    text-decoration: solid underline 1px #000;
}

i {
    font-style: italic;
}

del {
    text-decoration: line-through;
}
