    /* Note: the best size for the background images with letter size paper is 
       1235 x 1600. I don't know why but with that sizing there are no issues 
       with extra whitespace on the page. */
/*@page {
    background-image: url('themes/dark.jpg');
    size: letter;

    @frame a {
        margin: 1in;
    }
}*/

html {
    color: #000;
}

body {
    font-family: "Times New Roman", Times, serif;
    display: block;
    margin: 8px;
    color: #fff;
}

h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h3 {
    display: block;
    font-size: 1.25em;
    margin-top: 1em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

p {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}

li {
    display: block;
    margin: -8px 0 -8px 0;
}

ul {
    list-style-type: disc;
    display: block;
    margin-left: 1.5em;
  }
  
ul ul {
    list-style-type: circle;
    display: block;
    margin-top: -8px;
    margin-bottom: -8px;
}
  
ul ul ul {
    list-style-type: square;
    display: block;
    margin-top: -8px;
    margin-bottom: -8px;
}
